

<ion-content class="ion-padding">
  <h4 style="color: rgb(116, 183, 246)">Bienvenido, {{username}}</h4>
  <ion-item>
    <ion-input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea"></ion-input>
    <ion-button (click)="addTask()">Añadir</ion-button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label [class.completed]="task.completed">
        {{ task.title }}
      </ion-label>
      <ion-checkbox
        slot="end"
        [(ngModel)]="task.completed"
        (ionChange)="toggleTask(task)"
      ></ion-checkbox>
      <ion-button color="danger" fill="clear" (click)="deleteTask(task)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
