<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>



<!-- MENU HAMBURGUESA LATERAÑ -->
<!-- <ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Inicio</ion-item>
        <ion-item routerLink="/tasks">Tareas</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app> -->


<!-- <ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Gestor de Tareas</ion-title>
      <ion-buttons slot="start">
       
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/home">Inicio</ion-button>
        <ion-button routerLink="/tasks">Tareas</ion-button>
       
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->


